extends layout

block maincontent
  h1= title
  p Welcome to #{title}
  p We love EDM
  div  
    p#test_paragraph is this nested yet?
      a(
        id="edm_link"
        href="https://en.wikipedia.org/wiki/Electronic_dance_music"
      ) EDM Info
    
  p.
    Time to manage some employees!!! 
    Here you can find all of your favorite
    EDM features and performers
  p.not_multiline Here is some nested content
